// overwrite bootstrap variables here

$light: #ffffff

@import "~bootstrap/scss/bootstrap"

// overwrite bootstrap classes, add sass here

body
  font-family: Manrope, Sans-Serif

.navbar-toggler
  border: none
  padding: 0.25rem 0rem 0.25rem 0.75rem

hr
  border: 1px solid black

.desktop-container
  width: 992px

@media screen and (min-width: 992px)
  html
    margin-left: calc(100vw - 100%)
    margin-right: 0
